@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$primary-color:#3a7206;
$btn-color:#72a741;
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(#fff, #d1f7ae);
}
.main-container
{
    max-width: 1300px;
    margin: auto;
    padding-left: 45px;
    padding-right: 45px;
}
.main-header
{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.main-header h1
{
    color: $primary-color;
    font-weight: 500;
    font-size: 20px;
    padding: 20px 0;
    text-align: justify;
}
.main-header h2 
{
    font-size: 30px;
    padding: 20px 0;
    text-align: center;
    color: $primary-color;
    font-weight: 400;
}
.main-header img
{
    padding: 20px 0;
    border-radius: 80px;
}
.main-header img:hover
{
    cursor: pointer; 
}
.image-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "first-img-grid";
    padding: 20px 0;
    grid-auto-rows: 1fr ;
    column-gap: 20px;
}
.first-img-grid img:hover
{
    transform: scale(1.1);
    transition: .5s ease-in-out;
    cursor: pointer;
}
.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6
{

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 8px 8px;
    p 
    {
        color: $btn-color;
        text-align: justify;
    }
    h2 
    {
        text-align: center;
        color: $primary-color;
        font-weight: 500;
    }
}
.find-out
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "grid-1 grid-2 grid-3"
    "grid-4 grd-5 grid-6"
    ;
    column-gap: 20px;
    row-gap: 10px;
    padding: 20px 0;
    grid-auto-rows: 1fr ;
}
.graph
{
    display: grid;
    grid-template-columns: graph1 graph2;
    grid-template-areas: 
    "grid-1 grid-2";
    justify-content: center;
    column-gap: 20px;
    row-gap: 10px;
    padding: 20px 0;
}
.graph img
{
    width: 100%;

}
.title
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.page-bottom
{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}
.page-bottom h1 
{
    color: $primary-color;
    font-weight: 400;
    padding: 20px 0;
    text-align: justify;
    font-size: 20px;
}
.page-bottom-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "grid-part-1 grid-part-2";
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px 0;
}
.grid-part-1, .grid-part-2
{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    padding: 20px 10px;
}
.grid-part-1 h1
{
    text-align: justify;
    color: $primary-color;
    font-weight: 400;
    padding: 20px 0;
    font-size: 20px;

}
.why-ev 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.tesla-img
{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.tesla-img img:hover
{
    transform: scale(1.1);
    transition: .5s ease-in-out;
    cursor: pointer;
}
.why-ev h1 
{
    text-align: justify;
    color: $primary-color;
    font-weight: 500;

}
.grid-1:hover,.grid-2:hover,.grid-3:hover
{
    transform: translateY(-20px);
    cursor: pointer;
}
.grid-4:hover,.grid-5:hover,.grid-6:hover
{
    transform: translateY(+20px);
    cursor: pointer;
}
@media only screen and (max-width: 990px) 
{
    .main-header h1
    {
        font-size: 20px;
        text-align: justify;
        font-weight: 300;
    }
    .main-header img 
    {
        width: 100%;
    }
    .main-header h2 
    {
        font-size: 25px;

    }
    .find-out
    {
        grid-template-columns: 1fr;
        grid-template-areas: none;
        grid-auto-rows: 0.5;
        p 
        {
            font-size: 15px;
        }
        h2 
        {
            font-size: 20px;
        }
    }
    .graph
    {
        grid-template-areas: none;
       
    }
    .title
    {
        h1 
        {
            font-size: 15px;
        }
    }
    .why-ev h1 
    {
        font-size: 20px;
        text-align: center;
    }
    .page-bottom-grid
    {
        grid-template-columns: 1fr;
        grid-template-areas: none;
        h1
        {
            font-size: 20px;
            font-weight: 300;
        }
    }
    .page-bottom h1
    {
        font-size: 20px;
    }
    .image-grid
    {
        grid-template-columns: 1fr;
    }
    .grid-1:hover,.grid-2:hover,.grid-3:hover,
    .grid-4:hover,.grid-5:hover,.grid-6:hover
    {
        transform: none;
    }
}
