@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$primary-color:#5ea31d;
$btn-color:#72a741;
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(white, #d1f7ae);
    scroll-behavior: smooth;
}
.climate-container
{
    max-width: 1300px;
    margin: auto;
    padding-left: 45px;
    padding-right: 45px;
    width: 100%;
}
.page-header
{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    justify-content: center;
    align-items: center;
    padding: 40px 45px 0 40px;
}
.page-header h1 
{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: $primary-color;
}
.media
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    h3 
    {
        padding: 0 20px;
        border-left: 1px solid #555;
    }
    .fa-youtube
    {
        color: red;
    }
    .fa-twitter
    {
        color: #00ACEE;
    }
    .fa-instagram
    {
        background: radial-gradient(circle at 30% 107%, 
        #fdf497 0%, #fdf497 5%, #fd5949 45%, 
        #d6249f 60%, #285AEB 90%);
        border-radius: 5px;
    }
    .fa-facebook-official
    {
        color: #3b5998;   
    }
    .fa-youtube:hover
    {
        color: gray;
    }
    .fa-twitter:hover
    {
        color: gray;
    }
    .fa-instagram:hover
    {
        color: gray;
    }
    .fa-facebook-official:hover
    {
        color: gray;   
    }
}

.earth
{
    position: absolute;
    top: 0;
    bottom: 450px;
    right: 0;
    left: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    background-image: url(https://storage.googleapis.com/gweb-uniblog-publish-prod/images/New-global-view.max-1000x1000.jpeg);
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 30s linear alternate infinite;
    z-index: -1;
}
@keyframes spin
{
    100%{background-position: 100%;}    
}
.para-one
{
    display: flex;
    flex-direction: column;
    padding-top: 350px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    h2 
    {
            font-size: 20px;
            font-weight: 300;
    }
}
.benifits-para
{
    display: flex;
    flex-direction: column;
    text-align: justify;
    h1 
    {
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        color: $primary-color;
    }
    p 
    {
        font-size: 20px;
        font-weight: 300;
    }
    img 
    {
        width: 100%;
        padding: 30px 0;
    }
}
hr 
{
    width: 90%;
    margin: 20px 0;
}
.points
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    h1 
    {
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        padding-top: 30px;
    }
    li 
    {
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        padding: 15px 0;
    }
    ul 
    {
        list-style:disc;
        text-align: justify;
        padding: 20px 0;
    }
}
.green-car
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img 
    {
        width: 80%;
        padding-bottom: 20px;
        margin-top: -80px;

    }
}
.page-bottom-photos
{
    display: grid;
    padding: 20px 20px;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 20px;
    grid-template-areas: 
    "grid-photo1 grid-photo2";
    img 
    {
        width: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
}
@media only screen and (max-width: 990px)
{
    .page-header h1 
    {
        font-size: 20px;
    }
    .para-one
    {
        padding-top: 320px;
    }
    .para-one h2
    {
        font-size: 16px;
    }
    .benifits-para 
    h1 
    {
        font-size: 20px;
        
    }
   .benifits-para  p 
   {
       font-size: 16px;
   }
   .points li 
   {
        font-size: 16px;
   }
   .page-bottom-photos
   {
       grid-template-columns: 1fr;
       row-gap: 10px;
   }
}
    