.logo img
{
    width:155px;
}
.navbar
{
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 990px)
{
    .navbar
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}